.hidden {
  display: none;
}

img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: -1;
  opacity: 80%;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 black;
}

input[type="text"] {
  width: auto; /* 원하는 너비 설정 */
  height: auto; /* 높이값 초기화 */
  line-height: normal; /* line-height 초기화 */
  padding: 0.5em 0.5em; /* 원하는 여백 설정, 상하단 여백으로 높이를 조절 */
  font-family: inherit; /* 폰트 상속 */
  border: 1px solid #999;
  border-radius: 0; /* iSO 둥근모서리 제거 */
  outline-style: none; /* 포커스시 발생하는 효과 제거를 원한다면 */
  -webkit-appearance: none; /* 브라우저별 기본 스타일링 제거 */
  -moz-appearance: none;
  appearance: none;
  margin-top: 20px;
}

input[type="submit"] {
  vertical-align: middle; /* Input 과 타 요소들의 텍스트 높이를 동일하게 세로 정렬한다 */
  display: inline-block; /* a나 span 태그의 경우 inline-block 요소처리 */
  line-height: 1;
  cursor: pointer; /* input type에 따라 커서의 모양이 다르다. */

  /* 패딩은 Input과 다른 태그들이 달라야 한다 */
  padding: 8px 12px;

  /* 디자인 요소들 */
  transition: all 0.3s;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
  border-radius: 0;

  /* 요소마다 border 의 색상을 다르게 주기 위해서 속성들을 따로 기입한다 */
  border-style: solid;
  border-width: 1px;
}
